/** Fonts From Google Fonts **/
@import url("https://fonts.googleapis.com/css?family=PT+Mono&display=swap");
/** Font Palette **/
/** Colour Palette **/
/** HTML Styling **/
html {
  overflow: hidden;
  background-color: #0aaf81;
}

html body {
  margin: 5%;
  height: 85vh;
  width: 90%;
  border-radius: 30px;
  border: dotted white 5px;
  background-color: #f4b075;
  font-family: "PT Mono", monospace;
  color: white;
}

html body * {
  margin: 2.5%;
}

html body a {
  text-decoration: none;
  color: #05fcb6;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

html body a:hover {
  color: white;
}

html body .header {
  margin-bottom: 0px;
}

html body .header * {
  display: inline-block;
}

html body .header .pageName {
  float: right;
}

html body spacer {
  display: block;
  border: 0;
  border-radius: 30px;
  border-top: 2px solid white;
  margin: 2%;
  margin-top: 0%;
  height: 2px;
}

html body .error {
  margin-top: 0;
  margin-bottom: 0;
  color: #025939;
}

html body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body form .codes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 0.15vh;
  margin-top: 0vh;
}

html body form .codes input {
  width: 2.25vw;
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

html body form input {
  font-family: "PT Mono", monospace;
  color: white;
  font-size: large;
  background-color: #e09a5e;
  border: none;
  outline: none;
  margin-top: 0.25vh;
  height: 3.75vh;
  border-radius: 30px;
}

html body form #playerName {
  text-indent: 1.25vw;
  font-size: x-large;
  font-weight: bold;
}

html body form #submit {
  height: 5vh;
  font-size: x-large;
  width: 15vw;
  cursor: pointer;
}

html body form h3 {
  margin-bottom: 1.25vh;
  margin-top: 3vh;
  font-size: x-large;
}

html body form .hidden {
  width: 0px;
  height: 0px;
  margin: 0px;
}

html body form .hidden input {
  visibility: hidden;
}

html body form #gameText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  padding: 0px;
  display: flex;
}

html body form #gameText .selected {
  color: #025939;
}

html body sub {
  margin: 0px;
  font-size: large;
  color: #ffe9c5;
  font-style: italic;
}

html body #codeBig {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .rainbow {
  background-image: repeating-linear-gradient(45deg, #ff8fc0 0%, #80baff 33%, #89ffb4 66%, #ffd476 100%);
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  -webkit-animation: rainbow 5s ease infinite;
          animation: rainbow 5s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*# sourceMappingURL=main.css.map */