<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Styling -->
    <link rel="stylesheet" href="/p/main.css">

    <!-- Page Title -->
    <title>um. - Join!</title>
</head>
<body>
    
    <div class="header">
        <h1><a href="/">um..</a></h1>
        <h1 class="pageName">404</h1>
    </div>

    <spacer></spacer>

    <h2>Sorry, but that page dosen't exist!</h2>

</body>
</html>