<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Styling -->
    <link rel="stylesheet" href="/p/main.css">

    <!-- Page Title -->
    <title>um. - Join!</title>
</head>
<body>
    
    <div class="header">
        <h1><a href="/">um..</a></h1>
        <h1 class="pageName">host a game!</h1>
    </div>

    <spacer></spacer>

    <form action="/create" method="POST">
    
        <h3 class="error"><%=error%></h3>

        <h3>Game Selection</h3>
        <div id="gameText">
            <h3><a href="#" onclick="select('trivia')" id="labelTrivia" class="selected">trivia</a></h3>
            <h3><a href="#" onclick="select('funnys')" id="labelFunnys">funnys</a></h3>
            <h3><a href="#" onclick="select('cards')" id="labelNotCAH">cards</a></h3>
        </div>

        <h3>Modifiers</h3>
        <sub>coming soon..</sub>

        <input type="hidden" name="game" id="game" value="Trivia">

        <br><input type="submit" value="start!" id="submit">

    </form>

    <script>
    
        var ths;

        function select(item) {

            document.getElementById('labelTrivia').classList.remove('selected');
            document.getElementById('labelFunnys').classList.remove('selected');
            document.getElementById('labelNotCAH').classList.remove('selected');

            if(item == "trivia") {
                document.getElementById('labelTrivia').classList.add('selected');
                document.getElementById('game').value = "Trivia";
            }

            if(item == "funnys") {
                document.getElementById('labelFunnys').classList.add('selected');
                document.getElementById('game').value = "Funnys";
            }

            if(item == "cards") {
                document.getElementById('labelNotCAH').classList.add('selected');
                document.getElementById('game').value = "NotCAH";
            }

        }

    </script>

</body>
</html>